[submodule "lib/ncollide"]
	path = lib/ncollide
	url = git://github.com/sebcrozet/ncollide.git
[submodule "lib/nalgebra"]
	path = lib/nalgebra
	url = git://github.com/sebcrozet/nalgebra.git
[submodule "lib/rust-png"]
	path = lib/rust-png
	url = https://github.com/sebcrozet/rust-png.git
